<!DOCTYPE html>
<html>

<head>
  <title>about</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by me. It uses data from mapbox.com and weatherstack.com to give you weather data</p>
    <img class="about-image" src="/img/code.jpeg" alt="code">
  </div>
  {{>footer}}
</body>

</html>